.testimonials {
  padding: 120px 8%;
  background: #f5f5f5;
  text-align: center;
}

.testimonials h2 {
  font-size: 5rem;
  line-height: 0.95;
  font-weight: 500;
  margin-bottom: 80px;
  color: #111;
}

.testimonial-wrapper {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.testimonial-card {
  background: #e6ebe3;
  border-radius: 35px;
  padding: 60px;
  max-width: 750px;
  margin: auto;
}

.testimonial-card p {
  font-size: 1.05rem;
  line-height: 2;
  color: #333;
}

.testimonial-user {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.testimonial-user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user h4 {
  font-size: 1rem;
}

.testimonial-user span {
  color: #666;
  font-size: 0.9rem;
}

.floating-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.avatar1 {
  top: -30px;
  left: 0;
}

.avatar2 {
  top: 50px;
  right: 0;
}

.avatar3 {
  bottom: -20px;
  left: 120px;
}

@media (max-width: 768px) {

  .testimonials h2 {
    font-size: 3rem;
  }

  .testimonial-card {
    padding: 35px 25px;
  }

  .floating-avatar {
    display: none;
  }
}